.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroLogo {
  width: 180px;
  height: 180px;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
