:root {
  --ifm-color-primary: #0e7490;
  --ifm-color-primary-dark: #0c6680;
  --ifm-color-primary-darker: #0b6078;
  --ifm-color-primary-darkest: #094f63;
  --ifm-color-primary-light: #1083a0;
  --ifm-color-primary-lighter: #1189a8;
  --ifm-color-primary-lightest: #149abd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(14, 116, 144, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #22d3ee;
  --ifm-color-primary-dark: #0ec5e2;
  --ifm-color-primary-darker: #0dbbd6;
  --ifm-color-primary-darkest: #0b9ab0;
  --ifm-color-primary-light: #45daf1;
  --ifm-color-primary-lighter: #51ddf2;
  --ifm-color-primary-lightest: #7ae6f6;
  --docusaurus-highlighted-code-line-bg: rgba(34, 211, 238, 0.1);
}
